body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(lightblue,navy)
}
button{
    background-color: rgb(46, 39, 39);
    color: white;
    font-weight: bolder;
}
.calculator{
    background-color: rgb(2, 46, 59);
    border-radius: 20px;
    width: 16vw;
    height: 40vh;
    display: grid;
    grid-template-areas:
    "display display display display" 
    "clear clear del div"
    "num1 num2 num3 mult"
    "num4 num5 num6 ad"
    "num7 num8 num9 min"
    "do zee eql eql";
    contain: content;
}
.display{
    grid-area: display;
    height: 6vh;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: end;
}
.previous-number{
   color: rgba(255,255,255,0.5);
   height: 2.5vh;
   padding: 5px;
}
.current-number{
    height: 2.5vh;
    padding: 5px;
}
.clear{grid-area: clear; background: rgb(5, 167, 5);}
.del{grid-area: del; background: rgba(5, 124, 145, 0.808);}
.div{grid-area: div;background: rgba(5, 124, 145, 0.808);}
.n1{grid-area: num1;}
.n2{grid-area: num2;}
.n3{grid-area: num3;}
.mult{grid-area: mult; background: rgba(5, 124, 145, 0.808);}
.n4{grid-area: num4;}
.n5{grid-area: num5;}
.n6{grid-area: num6;}
.add{grid-area: ad; background: rgba(5, 124, 145, 0.808);}
.n7{grid-area: num7;}
.n8{grid-area: num8;}
.n9{grid-area: num9;}
.min{grid-area: min; background: rgba(5, 124, 145, 0.808);}
.dot{grid-area: do;}
.zero{grid-area: zee;}
.eql{grid-area: eql;background: rgba(5, 124, 145, 0.808);}